.messages-cont{
    width: 80vw;
    height: 15vh;
    position: fixed;
    top: 12vh;
    left: 20vw;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    border-bottom: 1px solid grey;
}
.messages-cont span{
    user-select: none;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(18, 17, 17);
    font-weight: bold;
    margin-left: 10px;
}
.messages-ui{
    width: 80vw;
    height: 62vh;
    position: fixed;
    top: 28vh;
    left: 20vw;
    background-color: white;
    display: flex;
    font-size: 2rem;
    border-bottom: 1px solid grey;
    flex-direction: column;
    overflow-y: scroll;
}
.messages-input{
    width: 80vw;
    height: 10vh;
    position: fixed;
    top: 90vh;
    left: 20vw;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    margin-left: 10px;
    border-top: 1px solid grey;
}
.messages-input input{
    width: 60vw;
    height: 5vh;
    font-size: 1.3rem;
    border-radius: 5px;
    border: 1px solid grey;
    padding-left: 10px;
    outline: none;
}
.messages-input button{
    width: 8vw;
    height: 5vh;
    font-size: 1.3rem;
    border-radius: 5px;
    border: 1px solid grey;
    background-color: rgb(0,133,255);
    border: none;
    outline: none;
    color: white;
    margin-right: 20px;
}
.message{
    width: fit-content;
    padding: 5px;
    margin: 10px 13px;
    height: 5vh;
    display: flex;
    font-size: 2rem;
    border-bottom: 1px solid grey;
    background-color: rgb(0,133,255);
    border-radius: 15px;
    color: white;
}